.bg-steel {
   background-color: #0a88e2;
}
.row {
  padding-top: 60px;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
